/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background: linear-gradient(135deg, #2c3e50, #bdc3c7);


  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* App.css */
.react-markdown strong {
  font-weight: bold;
  color: #61dafb; /* Cambia el color de las negritas */
}

.react-markdown p {
  margin: 10px 0;
  line-height: 1.5;
}

/* Estilos para el formulario */

/* Estilos para la lista de inventario */
.InventoryList {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.InventoryList ul {
  list-style-type: none;
  padding: 0;
}

.InventoryList li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InventoryList li:last-child {
  border-bottom: none;
}

img {
  max-width: 200px; /* Limita el ancho máximo de las imágenes */
  height: auto; /* Mantén la proporción */
  border-radius: 8px; /* Bordes redondeados para un aspecto más suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}
table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
  margin-bottom: 20px; /* Espacio adicional debajo de la tabla */
  background: linear-gradient(135deg, #333, #ddd); /* Transición de gris oscuro a gris claro */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que el contenido respete los bordes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

td, th {
  padding: 12px 15px; /* Espaciado interno en celdas */
  text-align: left; /* Alinea el contenido a la izquierda */
  border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
}

th {
  background-color: #282c34; /* Color de fondo del encabezado */
  color: white; /* Texto blanco para contraste */
  font-weight: bold; /* Resalta los encabezados */
}

tr:hover {
  background-color: #444; /* Un gris más intenso y atractivo */
  color: #f5f5f5; /* Texto ligeramente más claro para contraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra al pasar el ratón */
}




/* Estilos para el mensaje de carga */
.loading {
  font-size: 1.2rem;
  color: #61dafb;
  margin-top: 20px;
}

/* Estilos para el botón de enviar */

.send-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #21a1f1;
}